/* shared style  */
.primary-button {
    border-radius: 5px;
    background-color: orange;
    border: 0;
    color: white;
    font-weight: 700;
    padding: 15px 15px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

.primary-color {
    color: orange;
}



.nav-title {
    font-size: 45px;
    color: #181818;
    font-weight: 800px;
}

nav>ul {
    display: flex;
}

ul {
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}

header {
    background-color: bisque;
}

/* banner */
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 400px;
}